{% extends 'base.html' %}
{% block title %}Completed{% endblock %}

{% block content %}
<main id="main" class="main">
    <section class="section">
        <div class="row">
        <div class="col-lg-8">

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Completed</h5>
                <div>{{ task_count }} Completed • <form id="clear-completed-form" action="{% url 'clear_completed' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <a href="#" onclick="event.preventDefault(); document.getElementById('clear-completed-form').submit();" class="text-link">Clear All</a>
                </form></div>
                <!-- Default List group -->
                <ul class="list-group ">
                    {% for task in tasks %}
                    {% if task.completed %}
                    <li class="list-group-item" id="task-{{ task.id }}">
                        <input type="checkbox" class="form-check-input me-1 task-checkbox" data-task-id="{{ task.id }}" {% if task.completed %}checked{% endif %}>
                        <a href="{% url 'update_task' task.pk %}" class="a-list">{{ task.title }}</a>
                        {% if task.priority == 'urgent' %}
                            <i class="fa-solid fa-circle fa-fade" style="color: #ff3d3d;"></i>
                        {% elif task.priority == 'high' %}
                            <i class="fa-solid fa-circle" style="color: #ff9b3d;"></i>
                        {% elif task.priority == 'medium' %}
                            <i class="fa-solid fa-circle" style="color: #FFD43B;"></i>
                        {% elif task.priority == 'low' %}
                            <i class="fa-solid fa-circle" style="color: #a2dbff;"></i>
                        {% endif %}
                        {% if task.due_date %} 
                            <span class="bi bi-calendar2-week-fill"></span> 
                            <span class="due-date">{{ task.due_date|date:"d M, Y" }}</span>
                        {% endif %}
                        {% if task.assigned_to %}
                            Assigned to: 
                            {{ task.assigned_to.username }}
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
        </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}


