
{% extends 'base.html' %}
{% block title %}Create Task{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
      </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Password Changed Succesfully</h4>
                        <a class="btn btn-primary"  href="{% url 'edit_profile' %}">Back to profile</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}