{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'task_list' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Users</a></li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ profile.profile_pic.url }}" alt="Profile" class="rounded-circle">
            <h2>{{ user.username }}</h2> <!-- Show the username from the User model -->
            <h3>{{ profile.job_title }}</h3>
            <div class="social-links mt-2">
              <a href="{{ profile.x_profile }}" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="{{ profile.facebook_profile }}" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="{{ profile.instagram_profile }}" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="{{ profile.linkedin_profile }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>
            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{ profile.bio }}</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ user.username }}</div> <!-- Show username from User model -->
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Company</div>
                  <div class="col-lg-9 col-md-8">{{ profile.company }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Job</div>
                  <div class="col-lg-9 col-md-8">{{ profile.job_title }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ profile.phone }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ profile.email }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Date Joined</div>
                  <div class="col-lg-9 col-md-8">{{ user.date_joined|date:"Y-m-d" }}</div>
                </div>

              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="{{ profile.profile_pic.url }}" alt="Profile" class="img-thumbnail">
                      <div class="pt-2">
                        <!-- This button triggers the file input field -->
                        <label class="btn btn-primary btn-sm" title="Upload new profile image">
                          <i class="bi bi-upload" style="color: white;"></i> 
                          <input type="file" name="profile_pic" accept="image/*" style="display:none;">
                        </label>
                        <label class="btn btn-danger btn-sm" title="Remove my profile image">
                          <i class="bi bi-trash"></i>
                          <a href="{% url 'delete_profile_pic' %}" class="text-white">remove</a>
                        </label>                      
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                    <div class="col-md-8 col-lg-9">
                        {{ form.username }}
                    </div>
                </div>
                  <div class="row mb-3">
                    <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.bio }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.company }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.job_title }}
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.address }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.phone }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.email }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">X Profile</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.x_profile }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.facebook_profile }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.instagram_profile }}
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                    <div class="col-md-8 col-lg-9">
                      {{ form.linkedin_profile }}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{% url 'change_password' %}">Change Password</a>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}
