{% extends 'base.html' %}

{% block title %}Send Message{% endblock %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Send Message to {{ recipient.username }}</h1>
  </div>

  <section class="section">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
  
                    <!-- General Form Elements -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                          <label for="id_title" class="col-sm-2 col-form-label">Add Message</label>
                          <div class="col-sm-10">
                              {{ form.body }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label"></label>
                          <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                      </div>
                    </form><!-- End General Form Elements -->
                </div>
            </div>
        </div>
    </div>
  </section>
</main>
{% endblock %}


