{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Inbox</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Messages</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Participants</th>
                  <th scope="col">Last Message</th>
                  <th scope="col">Date Created</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for conversation in conversations %}
                {% if conversation.messages.exists %}
                <tr>
                  <td>
                  {% for participant in conversation.participants.all %}
                      {{ participant.username }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </td>
                  {% with conversation.messages.last as last_message %}
                  
                  <td>{{ last_message.body|slice:":30" }}{% if last_message.body|length > 30 %}...{% endif %}</td>
                  <td>{{ last_message.created_at|date:"Y-m-d H:i" }}</td>
                  <td>
                    <a href="{% url 'message_detail' conversation.id %}" class="btn btn-primary">View </a>
                    <a href="{% url 'delete_message' conversation.id %}" class="btn btn-danger">Delete</a>
                </td>
                  {% endwith %}
                </tr>
                {% else %}
                <tr>
                  <td colspan="4">No messages</td>
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                  <td colspan="4">No conversations</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
