{% extends 'base.html' %}
{% block title %}Add Comment{% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Comment</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'task_list' %}">Home</a></li>
              <li class="breadcrumb-item active">Add Comment</li>
            </ol>
          </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <!-- General Form Elements -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-sm-12">
                                    {{ form.body }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Add Comment</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}
