{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>TooDoo</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="{% static 'vendor/tinymce/tinymce.min.js' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script>
    window.darkModeCssUrl = "{% static 'css/style-dark.css' %}";
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'task_list' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">TooDoo</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" role="search" method="get" action="{% url 'search_task' %}">
        <input type="text" placeholder="Search Task" aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle" href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            {% if latest_conversations.count > 0 %}
            <span class="badge bg-success badge-number">{{ latest_conversations|length }}</span>
        {% endif %}
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              Latest Messages                         
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for conversation in latest_conversations %}
              {% if conversation.messages.exists %}
                {% with last_message=conversation.messages.last %}
                  <li class="message-item">
                    <a href="{% url 'message_detail' conversation.id %}">
                      <img src="assets/img/default-avatar.jpg" alt="" class="rounded-circle">
                      <div>
                        <!-- Display participant names -->
                        <p><strong>
                          {% for participant in conversation.participants.all %}
                            {{ participant.username }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </strong></p>
                        <p><strong>{{ last_message.sender.username }}:</strong> {{ last_message.body|slice:":30" }}</p>
                        <p>{{ last_message.created_at|date:"H:i d-m-Y" }}</p>
                      </div>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                {% endwith %}
              {% else %}
                <li class="message-item">
                    <a href="{% url 'message_detail' conversation.id %}">
                      <img src="assets/img/default-avatar.jpg" alt="" class="rounded-circle">
                      <div>
                        <!-- Display participant names -->
                        <p><strong>
                          {% for participant in conversation.participants.all %}
                            {{ participant.username }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </strong></p>
                        <p>No messages</p>
                      </div>
                    </a>
                  </li>
              {% endif %}
            {% empty %}
              <li class="message-item">
                <a href="#">
                  <div>
                    <p>No conversations found.</p>
                  </div>
                </a>
              </li>
            {% endfor %}
            <li class="dropdown-footer">
              <a href="{% url 'inbox' %}">Show all conversations</a>
            </li>
          </ul><!-- End Messages Dropdown Items -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            {% if notifications_unread.count > 0 %}
            <span class="badge bg-primary badge-number">{{ unread_count }}</span>
            {% endif %}
          </a><!-- End Notification Icon -->
        
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {% if unread_count > 5 %}5+{% else %}{{ unread_count }}{% endif %} new notifications
              <a href="{% url 'mark_notifications_as_read' %}" class="badge rounded-pill bg-primary p-2 ms-2">Mark all read</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
        
            <!-- Unread Notifications -->
            {% for notification in notifications_unread %}
            <li class="notification-item">
              <a href="{% if notification.task.pk %}{% url 'update_task' notification.task.pk %}{% else %}#{% endif %}" class="d-flex align-items-center text-decoration-none">
                {% if notification.user.profile.profile_pic %}
                <img src="{{ notification.user.profile.profile_pic.url }}" alt="{{ notification.user.username }}" class="profile-image">
                {% else %}
                <i class="bi bi-person-circle text-secondary"></i>  <!-- Fallback icon if no profile image -->
                {% endif %}
              <div>
                <p>{{ notification.message }}</p>
                <p>{{ notification.timestamp|date:"d M H:i" }} by {{ notification.user.profile.username }}</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
        
            <!-- Read Notifications -->
            {% if notifications_read %}
            <li class="dropdown-header">
              Previous Notifications
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for notification in notifications_read %}
            <li class="notification-item">
              <a href="{% if notification.task.pk %}{% url 'update_task' notification.task.pk %}{% else %}#{% endif %}" class="d-flex align-items-center text-decoration-none">
                <img src="{{ notification.user.profile.profile_pic.url }}" alt="{{ notification.user.username }}" class="profile-image">
              <div>
                <p>{{ notification.message }}</p>
                <p>{{ notification.timestamp|date:"d M H:i" }} by {{ notification.user.profile.username }}</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% empty %}
            <li class="notification-item">
              <p>No read notifications.</p>
            </li>
            {% endfor %}
            {% endif %}
            
            <li class="dropdown-footer">
              <a href="{% url 'notifications' %}">Show all notifications</a>
            </li>
          </ul><!-- End Notifications Dropdown Items -->
        </li><!-- End Notifications Nav -->
        

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{ profile.profile_pic.url }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.username }}</h6>
            </li>
            <li class="dropdown-header form-check form-switch">
              <label class="form-check-label" for="darkModeSwitch" id="theme-toggle">
                Dark Mode(Test) <input class="form-check-input" type="checkbox" id="darkModeSwitch">
              </label>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'edit_profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            <!-- Hidden form for logout -->
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
              {% csrf_token %}
            </form>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_list' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'create_task' %}">
          <i class="bi bi-plus-circle"></i>
          <span>Add Task</span>
        </a>
      </li><!-- End Add Task Nav -->

      <li class="nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'category_list' %}">
            <i class="bi bi-layout-text-window-reverse"></i><span>Categories</span>
          </a>
          <ul class="nav-content">
            {% for category in categoriess %}
              <li>
                <a href="{% url 'tasks_by_category' category.id %}">
                  <i class="bi bi-circle"></i><span>{{ category.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <!-- Other menu items -->
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user_list' %}">
          <i class="bi bi-people"></i>
          <span>Users</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'edit_profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'inbox' %}">
          <i class="bi bi-inbox"></i>
          <span>Inbox</span>
        </a>
      </li>
      <li class="nav-item"></li>
        <a class="nav-link collapsed" href="{% url 'notifications' %}">
          <i class="bi bi-bell"></i>
          <span>All Notifications</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'recent_activity' %}">
          <i class="bi bi-journal-text"></i>
          <span>Recent Activity</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar -->

  {% block content %}
  {% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>
