{% extends 'base.html' %}
{% block title %}Category List{% endblock %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Category List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'task_list' %}">Home</a></li>
        <li class="breadcrumb-item active">Category List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  
  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'add_category' %}" class="bi bi-plus-circle btn btn-success btn-sm">  Add New</a>
            </h5>

            <!-- List group With badges -->
            <ul class="list-group">
              {% for category in categories %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'tasks_by_category' category.id %}" class="a-list">{{ category.name }}</a>

                <div>
                  {% if category.id in user_categories %}
                  <form method="post" action="{% url 'unmark_global' category.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm">Remove from Sidebar</button>
                  </form>
                  {% else %}
                  <form method="post" action="{% url 'mark_global' category.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Add to Sidebar</button>
                  </form>
                  {% endif %}

                  <a href="{% url 'delete_category' category.id %}" class="btn btn-danger btn-sm" style="text-decoration: none;">Delete</a>
                </div>
              </li>
              {% empty %}
              <li class="list-group-item">No categories found.</li>
              {% endfor %}
            </ul><!-- End List With badges -->

          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
{% endblock %}
