{% extends 'base.html' %}
{% block title %}Delete Chat{% endblock %}

{% block content %}
<main id="main" class="main">
    <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-6">
            <!-- Card with titles, buttons, and links -->
            <div class="card">
              <div class="card-body">
                <form method="POST">{% csrf_token %}
                <h5 class="card-title">Are you sure you want to delete this chat?</h5>
                <button class="btn btn-danger" type="submit">Confirm</button>
                <a class="btn btn-primary" href="{% url 'delete_chat' %}">Cancel</a>
              </div>
            </div><!-- End Card with titles, buttons, and links -->
          </div>
        </div>
      </section>
    </main>
{% endblock %}


